div.modal-header
  button(type="button",class="close",data-dismiss="modal",aria-label="Close")
    span(ng-click="cancel()",aria-hidden="true") &times;
  h4.modal-title Post something awesome
  p Upload picture related to skateboarding, accepting GIF/JPG/PNG (Max size: 3MB)
div(class="modal-body")
  alert(ng-repeat="alert in popUpAlerts",type="{{alert.type}}",close="closePopUpAlerts($index)") {{alert.msg}}
  div(ng-show="postImage.isUploading").progress
    div(,role="progressbar", aria-valuenow="0", aria-valuemin="0",
    aria-valuemax="100",
    ng-style="{'width': postImage.progress + '%' }",style="width:0%").progress-bar Uploading...
  form(name="uploadImageForm",method='post',novalidate="")
    div(class='form-group')
      input(name="filePost",type="file", class="form-control", id="postImage", ng-model="uploadImageForm.file",
      nv-file-select="",required,
      uploader="postImage",valid-file="")
    div.form-group
      span(class="error", ng-show="uploadImageForm.postDesc.$error.maxlength") Too long!
      textarea(name="postDesc",class="form-control",ng-maxlength="200",placeholder="Description (Optional) (Max " +
      "length: " +
      "200)",ng-model="desc", rows="6")
    div.form-group
      input(class="form-control no-radius", type='text', ng-model="search", placeholder='Search or choose from bellow')
      ul().list-followers
        li(ng-repeat="follower in followers | filter : search",btn-radio="'{{follower._id}}'", ng-click="set_to_alias" +
        "(follower._id)",
        ng-model="to_alias", uncheckable="")
          span().profile-picture
            img(ng-src="{{follower.picture.source}}")
          |&nbsp; {{follower.name}}
          span(class="glyphicon glyphicon-ok-circle form-control-feedback", aria-hidden="true")
    div.form-group
      button(ng-click="postImage.uploadAll()",ng-disabled="uploadImageForm.$invalid").btn Upload
